EgovaBLL/App_WebReferences/SCJSTWEB/NewsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNewsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="col" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewsListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNewsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewsList" />
  </wsdl:message>
  <wsdl:message name="GetNewsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewDetail" />
  </wsdl:message>
  <wsdl:message name="GetNewDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="NewsServiceSoap">
    <wsdl:operation name="GetNewsList">
      <wsdl:input message="tns:GetNewsListSoapIn" />
      <wsdl:output message="tns:GetNewsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewDetail">
      <wsdl:input message="tns:GetNewDetailSoapIn" />
      <wsdl:output message="tns:GetNewDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewsServiceSoap" type="tns:NewsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewsList">
      <soap:operation soapAction="http://tempuri.org/GetNewsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewDetail">
      <soap:operation soapAction="http://tempuri.org/GetNewDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewsServiceSoap12" type="tns:NewsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewsList">
      <soap12:operation soapAction="http://tempuri.org/GetNewsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewDetail">
      <soap12:operation soapAction="http://tempuri.org/GetNewDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsService">
    <wsdl:port name="NewsServiceSoap" binding="tns:NewsServiceSoap">
      <soap:address location="http://www.scjst.gov.cn/webservice/NewsService.asmx" />
    </wsdl:port>
    <wsdl:port name="NewsServiceSoap12" binding="tns:NewsServiceSoap12">
      <soap12:address location="http://www.scjst.gov.cn/webservice/NewsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>