SurveyDesign/App_WebReferences/ceeyi/com/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ceeyi.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.ceeyi.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ceeyi.com/">
      <s:element name="GetDs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptSQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Excute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExcuteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCANumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CACardId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CANumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FJuridcialCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCANumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setCANumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDs" />
  </wsdl:message>
  <wsdl:message name="GetDsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDsSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="ExcuteSoapIn">
    <wsdl:part name="parameters" element="tns:Excute" />
  </wsdl:message>
  <wsdl:message name="ExcuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteResponse" />
  </wsdl:message>
  <wsdl:message name="ExcuteSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="setCANumberSoapIn">
    <wsdl:part name="parameters" element="tns:setCANumber" />
  </wsdl:message>
  <wsdl:message name="setCANumberSoapOut">
    <wsdl:part name="parameters" element="tns:setCANumberResponse" />
  </wsdl:message>
  <wsdl:message name="setCANumberSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="GetDs">
      <wsdl:input message="tns:GetDsSoapIn" />
      <wsdl:output message="tns:GetDsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excute">
      <wsdl:input message="tns:ExcuteSoapIn" />
      <wsdl:output message="tns:ExcuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setCANumber">
      <wsdl:input message="tns:setCANumberSoapIn" />
      <wsdl:output message="tns:setCANumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDs">
      <soap:operation soapAction="http://www.ceeyi.com/GetDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute">
      <soap:operation soapAction="http://www.ceeyi.com/Excute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExcuteSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCANumber">
      <soap:operation soapAction="http://www.ceeyi.com/setCANumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:setCANumberSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDs">
      <soap12:operation soapAction="http://www.ceeyi.com/GetDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute">
      <soap12:operation soapAction="http://www.ceeyi.com/Excute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExcuteSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCANumber">
      <soap12:operation soapAction="http://www.ceeyi.com/setCANumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:setCANumberSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost/InterfaceKCSJ/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost/InterfaceKCSJ/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>